@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-bar-color: gray;
  --scroll-bar-bg-color: transparent;
}

.selectscroll {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color); /* For Firefox */
}

.selectscroll::-webkit-scrollbar {
  width: 1px;
  .selectscroll::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
  }
  .selectscroll::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 2px;
    border: 1px solid var(--scroll-bar-bg-color);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
}
